<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/web/static/styles_admin.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/applications">Applications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Analytics</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <h4 class="navbar-brand mx-auto">AlifQueue</h4>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                            <form class="logout-form"action="/logout" method="POST">
                                <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-log-out">Log out</span> 
                                </button>
                            </form>
                    </li>
                </ul>
            </div>
    </nav>
        
    <div class="container mt-4">
        <!-- Table Row -->
        <div class="row">
            <div class="table-responsive mt-2 mx-auto ">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="row">FullName 
                                <a class="customLink" href="/admin/applications/?orderby=2"><i class="fas fa-caret-down"></i></a>
                            </th>                            
                            <th scope="row">Contact 
                                <a class="customLink" href="/admin/applications/?orderby=3"><i class="fas fa-caret-down"></i></a>
                            </th>
                            <th scope="row">SerialNumber 
                                <a class="customLink" href="/admin/applications/?orderby=4"><i class="fas fa-caret-down"></i></a>
                            </th>
                            <th scope="row">PurchaseDateTime 
                                <a class="customLink" href="/admin/applications/?orderby=5"><i class="fas fa-caret-down"></i></a>
                            </th>
                            <th scope="row">Status 
                                <a  class="customLink" href="/admin/applications/?orderby=6"><i class="fas fa-caret-down"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range . }}
                        <tr>
                            <td><a href="/admin/applications/{{.Id}}">{{ .FullName }}</a></td>
                            <td>{{ .Contact }}</td>
                            <td>{{ .SerialNumber }}</td>
                            <td>{{ .PurchaseDateTime }}</td>
                            <td>
                                <div class="material-switch ">
                                    {{if .Сhecked}}<span class="badge badge-success">Checked</span>
                                    {{else}}<span class="badge badge-secondary">Unchecked</span>{{end}}
                                </div>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>  
        </div>           
    </div>
</body>
</html>